<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/users.css">
</head>
<body>

    <div th:replace="fragments/general :: header"></div>

    <h1>CodeFellowship Users:</h1>

    <div th:each="user : ${users}">
        <form th:unless="${user.username == currentUserName}"
              class="user"
              th:action="${'/users/' + user.id + '/follow'}"
              method="post">
            <a th:href="${'/users/' + user.id}">[[${user.username}]]</a>
            <p>[[${user.firstName}]] [[${user.lastName}]]</p>
            <img src="/images/usericon.png" />
            <p>[[${user.bio}]]</p>
            <input th:if="${followedUsers.contains(user)}" type="submit" value="Following" disabled />
            <input th:unless="${followedUsers.contains(user)}" type="submit" value="Follow" />
        </form>
    </div>


<!--    <div th:replace="fragments/general :: footer"></div>-->

</body>
</html>