<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>

    <div th:replace="fragments/general :: header"></div>

    <h1>CodeFellowship Users:</h1>

    <div th:each="user : ${users}">
        <form th:unless="${user.username == currentUserName}"
              class="user" th:action="${'/users/' + user.id + '/follow'}" method="post">
            <a th:href="${'/users/' + user.id}" />[[${user.username}]]</a>
            <p>[[${user.firstName}]] [[${user.lastName}]]</p>
            <img src="imageurl" />
            <p>[[${user.bio}]]</p>
            <input type="submit" value="Follow" />
        </form>
    </div>

</body>
</html>