<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>

    <div th:replace="fragments/general :: header"></div>

    <h1>Welcome to CodeFellowship</h1>

<!--    span th:if="${username}">-->
<!--        //logout-->
<!--    span th:unless username-->
<!--        //login/signup-->



    <h2>Hello, <span th:text="${username}">Visitor</span></h2>

    <p>Here you can connect with other code-fellows and share your progress and experiences with each other.</p>

    <a href="/signup">Sign up here</a>
    <a href="/login">Log In</a>

</body>
</html>