<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>

    <div th:replace="fragments/general :: header"></div>

    <h1>Log in to CodeFellowship:</h1>

    <form id="loginForm" action="/login" method="post">
        <label>Username
            <input name="username" />
            </label>
        <label>Password
            <input type="password" name="password" />
            </label>
        <input type="submit" />
    </form>

<!--    <div th:replace="fragments/general :: footer"></div>-->

</body>
</html>