<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
<body>

    <div th:replace="fragments/general :: header"></div>

    <h1>Profile</h1>

    <h2>[[${user.firstName}]]</h2>
    <img class="profileImage" src="/images/usericon.png" />

    <h3 th:if="${param.new}">Thanks for signing up. Welcome to CodeFellowship!</h3>

    <form th:action="${'/users/' + user.id + '/posts/new'}" method="post">
        <h3>New Post</h3>
        <textarea cols="30" rows="7" name="body"></textarea>
        <input type="submit" />
    </form>

    <h3>My Posts</h3>

    <div id="posts" th:each="post : ${user.posts}">
        <div class="post">
            <h5>[[${post.createdAt}]]</h5>
            <p>[[${post.body}]]</p>
        </div>
    </div>

<!--    <div th:replace="fragments/general :: footer"></div>-->

</body>
</html>