<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>my profile</h1>

    <h2>Hello [[${user.firstName}]]</h2>

    <h3 th:if="${param.new}">Welcome to CodeFellowship!</h3>

    <form th:action="${'/myprofile/' + user.id + '/posts/new'}" method="post">
        <h3>New Post</h3>
        <textarea name="body"></textarea>
        <input type="submit" />
    </form>

    <div th:each="post : ${user.posts}">
        <p>[[${post.body}]]</p>
    </div>

</body>
</html>