<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="warning" th:if="${param.taken}">That username is already in use, please pick another.</h1>

    <h1>Sign up for CodeFellowship</h1>
    <form action="/signup" method="post">
        <label>Username
            <input name="username" />
            </label>
        <label>Password
            <input type="password" name="password" />
            </label>
        <label>First Name
            <input name="firstName" />
            </label>
        <label>Last Name
            <input name="lastName" />
            </label>
        <label>Date of Birth
            <input type="date" name="dateOfBirth"/>
            </label>
        <label>Bio
            <textarea name="bio"></textarea>
            </label>
        <input type="submit" />
    </form>

</body>
</html>