<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    this only shows up if taken is a param-->
<!--    param.[string] reads the current html params-->
<!--    <h3 th:if="${param.taken}">-->
<!--        Username already taken-->
<!--    </h3>-->


    <h1>Sign up for CodeFellowship</h1>
    <form action="/signup" method="post">
        <label>Username
            <input name="username" />
            </label>
        <label>Password
            <input type="password" name="password" />
            </label>
        <label>First Name
            <input name="firstName" />
            </label>
        <label>Last Name
            <input name="lastName" />
            </label>
        <label>Date of Birth
            <input type="date" name="dateOfBirth"/>
            </label>
        <label>Bio
            <textarea name="bio"></textarea>
            </label>
        <input type="submit" />
    </form>

</body>
</html>